<% provide :title, "Your pull requests" %>
<div class="filter">
  <form id="filter-form">
    <div class="form-row">
      <div class="form-group col-md-2">
        <%= label_tag :state %>
        <%= select_tag :state, options_for_select(PullRequest.states),
          include_blank: "All", class: "form-control", data: {remote: true} %>
      </div>
    </div>
  </form>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Subject</th>
      <th scope="col">State</th>
      <th scope="col">Owner</th>
      <th scope="col">Reviewer</th>
      <th scope="col">Repository</th>
      <th scope="col">Created</th>
      <th scope="col">Updated</th>
    </tr>
  </thead>
  <tbody>
    <%= render @pull_requests %>
  </tbody>
</table>

<div id="paginator">
  <%= paginate @pull_requests, remote: true %>
</div>
