@import 'variables';
@import 'bootstrap';

html {
  height:100%;
  cursor: image-url('plant.gif'), auto;
}

body {
  -webkit-font-smoothing: antialiased;
  min-height:100%;
}

main {
  margin: 1rem 0 3rem;
}

.btn-review {
  color: #fff;
  background-color: #F47983;
  border-color: #F47983;

  &:hover {
    color: #fff;
    background-color: #DB5A6B;
    border-color: #DB5A6B;
  }
}

.flash {
  margin-bottom: 1rem;
}

.avatar {
  width: 25px;
  height: 25px;
  box-sizing: content-box;
  border: 1px solid #383838;
}

.pull-request {
  .title {
    max-width: 260px;
  }
}

@keyframes glowing {
  0% {
    background-color: #f8f078;
    box-shadow: 0 0 3px #f8f078;
  }
  50% {
    background-color: #fbbc05;
    box-shadow: 0 0 10px #fbbc05;
  }
  100% {
    background-color: #f8f078;
    box-shadow: 0 0 3px #f8f078;
  }
}

.state {
  color: #fff;
  margin-right: 5px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.state-open {
  background-color: #3181fa;
}

.state-ready {
  background-color: #fbbc05;
  animation: glowing 1500ms infinite;
}

.state-reviewing {
  background-color: #ea4335;
}

.state-commented {
  background-color: #30c352;
}

.state-conflicted {
  background-color: #6a737d;
}

.state-merged {
  background-color: #6f42c1
}

.state-closed {
  background-color: #000;
}

.state-archived {
  background-color: #929090;
}

.state-list {
  list-style: none;
  text-align: center;
  margin-bottom: 0.5rem;
  color: #545353;

  li {
    display: inline-block;
    padding: 0 10px;
  }
}
