@import 'bootstrap';

html {
  height:100%;
}

body {
  font-size: 14px;
  min-height:100%;
}

main {
  margin: 1rem 0 3rem;
}

.flash {
  margin-bottom: 1rem;
}

.offline-notification {
  display: none;
}

.state {
  background-color: #3181fa;
  color: #fff;
  font-weight: 500;
  padding: 5px 10px;
}

.state-ready {
  background-color: #fbbc05;
}

.state-reviewing {
  background-color: #ea4335;
}

.state-commented {
  background-color: #30c352;
}

.state-conflicted {
  background-color: #6a737d;
}

.state-merged {
  background-color: #6f42c1
}

.state-closed {
  background-color: #000;
}
